html, body {
    height: 100%;
}

.list-group-item {
    padding: .25rem 1.25rem;
}

.icon-button {
    height: 24px;
    width: 24px;
    padding: 4px;

    border: none;
    background: none;
}

.icon-button:focus,.icon-button:active {
    outline: none !important;
}

#selected-services, #selected-pservices {
    margin-top: 4px;
    margin-bottom: 4px;
}

.button-right {
    float: right;
}

.tab-pane {
    flex: 1;
}

.tab-content {
    flex: 1;
    margin: 4px;
}

.tab-content>.active {
    display: flex;
    flex-direction: column;
}

.tabpanel-main-content {
    flex: 1 1;
    overflow-y: auto;
}

.tabpanel-footer {
    height: 32px;
}

.list-group {
    margin: 4px;
}

.nav-tabs {
    margin: 4px;
}

.small-card {
    border-radius: 0;
    margin-bottom: -1px;
}

.small-card:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.small-card:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.small-card h5 {
    font-size: 1rem;
}

.small-card .card-header {
    padding: .25rem 1.25rem;
    background-color: #fff;
    border-bottom: none;
}

.small-card .card-header .instance-details-header {
    font-size: 0.65rem;
    -webkit-margin-after: 0;
}

.small-card .card-block {
    padding: .25rem 1.25rem;;
    font-size: 0.7rem;
}

.small-card .card-block .table td {
    padding: 0.25rem;
}

.stylish-input-group
{
    margin-bottom: 4px;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
    padding: .25rem .3rem;
}

.stylish-input-group button {
    border:0;
    background:transparent;

    height: 16px;
    width: 16px;
    padding: 2px;
}

#button-close {
    display: block;
    float: right;

    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 0.9;
}

#log p {
    font-size: 0.6rem;
    margin-bottom: 0.15rem;
}

.title-bar {
    height: 40px;
    padding: 8px;
    background-color: #fc9800;
    color: #fff;
    margin-bottom: 4px;
}
